### Monte Carlo - Black-Scholes - Merton - INFY

In [1]:
import numpy as np
import pandas as pd 
from pandas_datareader import data as wb
import matplotlib.pyplot as plt 
from scipy.stats import norm
from datetime import datetime 
import nsepy as nse
%matplotlib inline

In [2]:
from nsepy import get_history
from datetime import date

In [3]:
tickers = ['INFY']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = nse.get_history(t, index = False, start = date(2018, 1, 1), end = date(2023, 3, 24))['Close']

$$
d_1 = \frac{\ln(\frac{S}{K}) + (r + \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

$$
d_2 = d_1 - s \cdot \sqrt{t} = \frac{\ln(\frac{S}{K}) + (r - \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

In [4]:
def d1(S, K, r, stdev,T):
    return (np.log(S/K) +  (r + stdev**2/2) * T)/(stdev * np.sqrt(T))

def d2(S, K, r, stdev,T):
    return (np.log(S/K) +  (r - stdev**2/2) * T)/(stdev * np.sqrt(T))

In [5]:
norm.cdf(0)

0.5

In [6]:
norm.cdf(0.25)

0.5987063256829237

In [7]:
norm.cdf(0.75)

0.7733726476231317

In [8]:
norm.cdf(9)

1.0

$$
\textbf{C} = SN(d_1) - Ke^{-rt}N(d_2) 
$$

In [9]:
def BSM(S, K, r, stdev,T):
    return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [10]:
S = sec_data.iloc[-1]
S

INFY    1380.65
Name: 2023-03-24, dtype: float64

In [11]:
log_returns = np.log(1 + sec_data.pct_change())
log_returns

                INFY
Date
2018-01-01       NaN
2018-01-02 -0.003732
2018-01-03 -0.008191
2018-01-04 -0.005794
2018-01-05 -0.003354
...              ...
2023-03-20 -0.012074
2023-03-21 -0.009269
2023-03-22 -0.001043
2023-03-23 -0.010638
2023-03-24  0.004428

[1297 rows x 1 columns]

In [12]:
stdev = log_returns.std()*250**0.5
stdev

INFY    0.408863
dtype: float64

In [17]:
r = 0.064
K = 1400.0
T = 1

In [18]:
d1(S, K, r, stdev, T)

INFY    0.326923
dtype: float64

In [19]:
d2(S, K, r, stdev, T)

INFY   -0.08194
dtype: float64

In [20]:
BSM(S, K, r, stdev, T)

INFY    253.513744
Name: 2023-03-24, dtype: float64